// settings
@import 'settings_colors';

$increase-font-size-on-larger-screens: false;
$font-base-family: '"Rubootu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif';
$font-monospace: '"Ubuntu Mono", Consolas, Monaco, Courier, monospace';

// import vanilla-brochure-theme
@import 'vanilla-framework/scss/build';

@font-face {
  font-family: 'Rubootu';
  font-style: normal;
  font-weight: 100;
  font-display: optional;
  src: url('#{$assets-path}e8c07df6-Ubuntu-L_W.woff2') format('woff2'), url('#{$assets-path}8619add2-Ubuntu-L_W.woff') format('woff');
}

@font-face {
  font-family: 'Rubootu';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('#{$assets-path}fff37993-Ubuntu-R_W.woff2') format('woff2'), url('#{$assets-path}7af50859-Ubuntu-R_W.woff') format('woff');
}

@font-face {
  font-family: 'Rubootu';
  font-style: italic;
  font-weight: 300;
  font-display: optional;
  src: url('#{$assets-path}f8097dea-Ubuntu-LI_W.woff2') format('woff2'), url('#{$assets-path}8be89d02-Ubuntu-LI_W.woff') format('woff');
}

@font-face {
  font-family: 'Rubootu';
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src: url('#{$assets-path}fca66073-ubuntu-ri-webfont.woff2') format('woff2'), url('#{$assets-path}f0898c72-ubuntu-ri-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Rubootu';
  font-style: normal;
  font-weight: 100;
  font-display: optional;
  src: url('#{$assets-path}7f100985-Ubuntu-Th_W.woff2') format('woff2'), url('#{$assets-path}502cc3a1-Ubuntu-Th_W.woff') format('woff');
}

@font-face {
  font-family: 'Rubootu Mono';
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: url('#{$assets-path}fdd692b9-UbuntuMono-R_W.woff2') format('woff2'), url('#{$assets-path}85edb898-UbuntuMono-R_W.woff') format('woff');
}

@font-face {
  font-family: 'Rubootu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('#{$assets-path}fdd692b9-UbuntuMono-R_W.woff2') format('woff2'), url('#{$assets-path}85edb898-UbuntuMono-R_W.woff') format('woff');
}

// patterns
@import
'patterns_strips',
'patterns_hero-video',
'patterns_lists',
'patterns_modal',
'patterns_takeunders',
'patterns_tables',
'patterns_contact-modal',
'layout_docs',
'patterns_sidenav',
'hljs';

// patterns
@include maas-p-hero-video;
@include maas-p-lists;
@include maas-p-modal;
@include maas-p-takeunders;
@include maas-p-tables;
@include maas-p-contact-modal;
@include maas-p-strip-slanted;
@include maas-l-docs;
@include maas-p-sidenav;

@media only screen and (max-width: $breakpoint-medium) {
  .usabilla_live_button_container { // sass-lint:disable-line class-name-format
    left: calc(90% - 30px);
  }
}

// XXX Caleb: Increase space between detailed stepped list items
// Issue: https://github.com/vanilla-framework/vanilla-framework/issues/1917
.p-stepped-list--detailed {
  .p-stepped-list__content,
  .p-stepped-list__title {
    margin-bottom: $spv-outer--shallow-scaleable;
  }
}

// XXX Robin: Increase space between tables and following headings
table + h2 {
  padding-top: 1.6rem;
}

.row.is-bordered::before   {
  left: 0;
  margin-top: -5px;
  width: 100%;
}

.lightbox-wrapper {
  margin-bottom: 1.1rem;
}

.p-heading-icon-block {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (min-width: $breakpoint-medium) {
    margin-bottom: 2rem;
  }
}

.p-heading-icon-block__copy-block {
  margin-top: -.5rem;
}

.p-heading-icon-block__icon {
  border-radius: 0;
  height: auto;
  margin-bottom: $spv-inner--small;
  margin-right: $sph-inner;
  padding-right: $sph-inner;
  width: ($sp-unit * 5) + $sph-inner;
}

.u-indent {
  @media only screen and (min-width: $breakpoint-medium) {
    float: right;
    width: calc(100% - 8.5rem);
  }
}
